<div class="jumbotron jumbotron-fluid">
    <div class="container ">

        <div class="alert alert-primary" role="alert">
            <h1>holaaa</h1>
            <p>holaaaaaaa</p>
        </div>
        <div class="alert alert-secondary" role="alert">
            <h1>holaaa</h1>
            <p>holaaaaaaa</p>
        </div>
        <div class="alert alert-success" role="alert">
            <h1>holaaa</h1>
            <p>holaaaaaaa</p>
        </div>
        <div class="alert alert-danger" role="alert">
            <h1>holaaa</h1>
            <p>holaaaaaaa</p>
        </div>
        <div class="alert alert-warning" role="alert">
            <h1>holaaa</h1>
            <p>holaaaaaaa</p>
        </div>
        <div class="alert alert-info" role="alert">
            <h1>holaaa</h1>
            <p>holaaaaaaa</p>
        </div>
        <div class="alert alert-light" role="alert">
            <h1>holaaa</h1>
            <p>holaaaaaaa</p>
        </div>
        <div class="alert alert-dark" role="alert">
            <h1>holaaa</h1>
            <p>holaaaaaaa</p>
        </div>

    </div>
    <div class="text-center">
        <a class="mt-3 btn btn-success btn-lg w-25 " [routerLink]="['home']" role="button">Volver</a>
    </div>
</div>